BODY {
MARGIN: 0px; 
PADDING: 0px;
BACKGROUND: #808080; 
COLOR: #000000;
TEXT-ALIGN: center;
} 

A:link {background: none; color: maroon; text-decoration: underline; cursor: pointer;}
A:visited {background: none; color: maroon; text-decoration: underline; cursor: pointer;}
A:hover {background: none; color: red; text-decoration: underline; cursor: pointer;}
A:active { background: none; color: red; background: underline; cursor: pointer;}

.Global {
WIDTH: 760px;
HEIGHT: 100%;
BACKGROUND: #ffffff;
COLOR: inherit;
MARGIN-LEFT: auto;
MARGIN-RIGHT: auto;
}

.Global TD {
VERTICAL-ALIGN: top;
}

.Header {
WIDTH: 100%;
}

.Header TD {
VERTICAL-ALIGN: top;
TEXT-ALIGN: left;
PADDING: 0px 0px 0px 0px; 
}

.Right {
BACKGROUND: transparent;
COLOR: inherit;
}

.Content {
BACKGROUND: transparent;
COLOR: inherit;
}

.BoxStyle {
WIDTH: 100%;
MARGIN-BOTTOM: 15px;
}

.MenuOff {
	BACKGROUND: #7F6B8B;
	COLOR: #7F6B8B; 
	CURSOR: hand; 
	TEXT-DECORATION: none;
	BORDER-LEFT: 1px solid #dde4ec;
	BORDER-TOP: 1px solid #dde4ec;
	BORDER-RIGHT: 1px solid #2e4054;
	BORDER-BOTTOM: 1px solid #2e4054;
	WIDTH: 100%;
	HEIGHT: 16px;
	PADDING-LEFT: 10px;
	TEXT-ALIGN: left; 
	LINE-HEIGHT: 14px;
	FONT: bold 11px Arial,Helvetica,sans-serif;
}

.MenuOn {
	BACKGROUND: #cac0cf;
	COLOR: #452f59; 
	CURSOR: hand; 
	TEXT-DECORATION: none;
	BORDER-LEFT: 1px solid #ffefdf;
	BORDER-TOP: 1px solid #ffefdf;
	BORDER-RIGHT: 1px solid #452f59;
	BORDER-BOTTOM: 1px solid #452f59;
	WIDTH: 100%;
	HEIGHT: 16px;
	PADDING-LEFT: 10px;
	TEXT-ALIGN: left; 
	LINE-HEIGHT: 14px;
	FONT: bold 11px arial,Helvetica,sans-serif;
}

.MenuClick {
	BACKGROUND: #e6d5ee;
	COLOR: #000000;
	CURSOR: hand; 
	TEXT-DECORATION: none;
	BORDER-LEFT: 1px solid #2e4054;
	BORDER-TOP: 1px solid #2e4054;
	BORDER-RIGHT: 1px solid #dde4ec;
	BORDER-BOTTOM: 1px solid #dde4ec;
	WIDTH: 100%;
	HEIGHT: 16px;
	PADDING-LEFT: 10px;
	TEXT-ALIGN: left; 
	LINE-HEIGHT: 14px;
	FONT: bold 11px Arial,Helvetica,sans-serif;
}

.MenuOff A:link { color: #ffffeb; text-decoration: none; CURSOR: hand;}
.MenuOff A:visited { color: #ffffeb; text-decoration: none; CURSOR: hand;}
.MenuOff A:hover {color: #ffffeb; text-decoration: none; CURSOR: hand;}

.MenuOn A:link { color: #000000; text-decoration: none; CURSOR: hand;}
.MenuOn A:visited { color: #000000; text-decoration: none; CURSOR: hand;}
.MenuOn A:hover {color: #000000; text-decoration: none; CURSOR: hand;}

.MenuClick A:link { color: #000000; text-decoration: none; CURSOR: hand;}
.MenuClick A:visited { color: #000000; text-decoration: none; CURSOR: hand;}
.MenuClick A:hover {color: #000000; text-decoration: none; CURSOR: hand;}

.HeadingStyle {
BACKGROUND: none;
COLOR: #000000;
FONT: bold 20px arial,sans-serif;
}

P {
FONT: 13px arial,sans-serif;
}

.Padded {
PADDING: 20px;
}

.SmallFont {
FONT: 13px arial,sans-serif;
}

.MedFontBold {
FONT: bold 15px arial,sans-serif;
}

.SmallFont TD {
FONT: 13px arial,sans-serif;
}

.MedFontBold TD {
FONT: bold 15px arial,sans-serif;
}

.Footer {
WIDTH: 100%;
BACKGROUND: transparent;
COLOR: inherit;
FONT: 12px arial,sans-serif;
HEIGHT: 25px;
TEXT-ALIGN: center;
}




